---
import Base from "../../layouts/Base.astro";

const title = "Uses";
const description = "My Photos";

const coding = [
  {
    name: "Zed",
    description: "My editor of choice",
    link: "https://zed.dev/",
  },
  {
    name: "Cursor",
    description: "AI editor",
    link: "https://cursor.com/",
  },
];

const terminal = [
  {
    name: "Ghostty",
    description: "Chosen for stability and performance.",
    link: "https://ghostty.com/",
  },
  {
    name: "Oh My ZSH",
    description: "Plugin framework I use to make terminal great again.",
    link: "https://ohmyz.sh/",
  },
  {
    name: "fnm",
    description: "Fast Node.js version manager.",
    link: "https://github.com/Schniz/fnm",
  },
];

const apps = [
  {
    name: "Raycast",
    description: "Spotlight replacement which boosts my efficiency with Mac.",
    link: "https://raycast.com/",
  },
  {
    name: "Screen Studio",
    description: "Beautiful screen recording in minutes.",
    link: "https://screenstudio.com/",
  },
  {
   name: "Orbstack",
   description: "Fast and light Docker Desktop alternative.",
   link: "https://orbstack.com/",
  },
];
---

<Base title={title} description={description}>
  <section>
    <h1 class="mb-8 text-2xl font-medium tracking-tight">Some of what I use</h1>
    <div class="prose prose-neutral dark:prose-invert">
      <h2 class="mb-4 text-lg tracking-tight">Coding</h2>
      <ul class="space-y-2">
        {
          coding.map((app) => (
            <li class="flex items-baseline">
              <a href={app.link} target="_blank" class="text-[#333333] dark:text-[#D4D4D4] hover:opacity-80 transition-opacity duration-200">
                {app.name}
              </a>
              <span class="mx-2 text-neutral-600 dark:text-neutral-400">-</span>
              <span class="text-neutral-600 dark:text-neutral-400">{app.description}</span>
            </li>
          ))
        }
      </ul>
      <h2 class="my-4 text-lg tracking-tight">Terminal</h2>
      <ul class="space-y-2">
        {
          terminal.map((app) => (
            <li class="flex items-baseline">
              <a href={app.link} target="_blank" class="text-[#333333] dark:text-[#D4D4D4] hover:opacity-80 transition-opacity duration-200">
                {app.name}
              </a>
              <span class="mx-2 text-neutral-600 dark:text-neutral-400">-</span>
              <span class="text-neutral-600 dark:text-neutral-400">{app.description}</span>
            </li>
          ))
        }
      </ul>
      <h2 class="my-4 text-lg tracking-tight">Apps</h2>
      <ul class="space-y-2">
        {
          apps.map((app) => (
            <li class="flex items-baseline">
              <a href={app.link} target="_blank" class="text-[#333333] dark:text-[#D4D4D4] hover:opacity-80 transition-opacity duration-200">
                {app.name}
              </a>
              <span class="mx-2 text-neutral-600 dark:text-neutral-400">-</span>
              <span class="text-neutral-600 dark:text-neutral-400">{app.description}</span>
            </li>
          ))
        }
      </ul>
      <h2 class="my-4 text-lg tracking-tight">Hardware</h2>
      <ul class="space-y-2">
        <li class="flex items-baseline">
          <span class="text-[#333333] dark:text-[#D4D4D4]">MacBook Pro M1 Pro 16GB</span>
        </li>
        <li class="flex items-baseline">
          <span class="text-neutral-600 dark:text-neutral-400">Keyboard:</span>
          <span class="mx-2 text-neutral-600 dark:text-neutral-400">-</span>
          <a href="https://www.keychron.com/products/keychron-q10-alice-layout-qmk-custom-mechanical-keyboard" target="_blank" class="text-[#333333] dark:text-[#D4D4D4] hover:opacity-80 transition-opacity duration-200">
            Keychron Q10 (Alice)
          </a>
        </li>
        <li class="flex items-baseline">
          <span class="text-neutral-600 dark:text-neutral-400">Mouse:</span>
          <span class="mx-2 text-neutral-600 dark:text-neutral-400">-</span>
          <a href="https://www.logitech.com/en-us/products/mice/mx-master-3s.910-006556.html" target="_blank" class="text-[#333333] dark:text-[#D4D4D4] hover:opacity-80 transition-opacity duration-200">
            Logitech MX MASTER 3S
          </a>
        </li>
      </ul>
    </div>
  </section>
</Base>
