---
import Base from "../../layouts/Base.astro";

const projects = [
  {
    title: "vue-clerk",
    year: 2023,
    description:
      "Vue + Clerk community SDK",
    url: "https://vue-clerk.vercel.app/",
  },
  {
    title: "svelte-sonner",
    year: 2023,
    description:
      "An opinionated toast component for Svelte",
    url: "https://svelte-sonner.vercel.app/",
  },
  {
    title: "trpc-nuxt",
    year: 2022,
    description:
      "End-to-end typesafe APIs in Nuxt applications",
    url: "https://trpc-nuxt.pages.dev/",
  },
  {
    title: "pinia-shared-state",
    year: 2022,
    description:
      "A lightweight plugin to sync your pinia state across browser tabs",
    url: "https://github.com/wobsoriano/pinia-shared-state",
  },
];

const title = "Projects";
const description = "Some things I've built";
---

<Base title={title} description={description}>
  <section>
    <h1 class="mb-8 text-2xl font-medium tracking-tight">Some things I've built</h1>
    <div class="space-y-6">
      {
        projects.map((project, index) => (
          <a
            href={project.url}
            target="_blank"
            rel="noopener noreferrer"
            class="block group hover:opacity-80 transition-opacity duration-200">
            <div class="flex flex-col">
              <div class="w-full flex justify-between items-baseline">
                <span class="text-black dark:text-white font-medium tracking-tight">
                  {project.title}
                </span>
                <span class="text-neutral-600 dark:text-neutral-400 tabular-nums text-sm">
                  {project.year}
                </span>
              </div>
              <p class="prose prose-neutral dark:prose-invert pt-3">
                {project.description}
              </p>
            </div>
          </a>
        ))
      }
    </div>
  </section>
</Base>
